*{
    background-color: #0a0a0a;
}

.menu{
    width: 100vh;
    display: flex;
    justify-content: space-between;
}

.menu_logo{
    width: 80px;
    height: 80px;
    padding-left: 0.5rem;
    margin: 0.2rem;
}

.menu_titulo{
    font-size: 1.5rem;
    font-weight: bold;

}

.menu_ul{
    width: 30vh;
    display: flex;
    justify-content: space-between;
}

