*{
    font-family: 'Roboto', sans-serif;
}

.inicio{
    height: 100vh;    
    background: linear-gradient( rgba(22, 22, 22, 0.8), rgba(22, 22, 22, 0.8)), url("/assets/img/banner.jpg");
    background-size: cover;

}
.container{
    align-items: center;
    justify-content: center;
}

.navegacion{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(22, 22, 22, 0.8);
}

.logo .titulo a{
    margin-top: 0.7rem;
    margin-left: 0.7rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #7e4b50;
}

.logo .titulo a:hover{
    color: #aa656c;
}

.menu{
    width: 30%;
    padding-right: 2rem;
}

.menu_lista{
    
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu_link{
    color: #27707e;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}

.menu_link:hover {
    color: #3ec9e5;
}

.presentacion{
    height: 100vh;    
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.presentacion .bienvenida{
    font-size: 5.3rem;
    font-weight: bold;
    color: #f3f3f3a2 ;
    text-shadow: 2px 2px 3px #030303;

}

.presentacion h2{
    font-size: 2.1rem;
    /* color: #52bb1a9e; */
    color: #f3f3f3a2 ;
    text-shadow: 2px 2px 3px #030303 ;
}

.presentacion h2 spam{
    font-size: 2.3rem;
}

.presentacion .spam{
    font-size: 2.1rem;
    /* color: #52bb1a9e; */
    color: #f3f3f3a2;
    text-shadow: 2px 2px 3px #030303;
}